<p>
<a routerLink="">Display Hello World</a>  | 
<a routerLink="showhellobutton">Show Hello Button</a> | 
<a routerLink="displayname">Display Name</a>  | 
<a routerLink="counter">Counter</a> | 
<a routerLink="simpleform">Simple Form</a>  | 
<a routerLink="userage">User Age</a>  | 
<a routerLink="usergreeting">User Greeting</a>  | 
<a routerLink="calculator">Calculator</a> | 
<a routerLink="textlength">Text Length</a>  | 
<a routerLink="currencyconverter">Currency Converter</a>  | 
<a routerLink="evenoddchecker">Even Odd Checker</a> | 
<a routerLink="wordreverser">Word Reverser</a>  | 
<a routerLink="showdate">Show Date</a>  | 
<a routerLink="showusername">Show Username</a>  |   
<a routerLink="multiplicationtable">Multiplication Table</a>    |   
<a routerLink="simplelogin">Simple Login</a>    |   
<a routerLink="fahrenheittocelsius">Fahrenheit To Celsius</a>   |   
<a routerLink="bookmarklist">Bookmark List</a>  |   
<a routerLink="charactercounter">Character Counter</a>  |   
<a routerLink="palindromechecker">Palindrome Checker</a>   |   
<a routerLink="temperatureconverter">Temperature Converter</a>  |   
<a routerLink="shoppinglist">Shopping List</a>  |   
<a routerLink="factorialcalculator">Factorial Calculator</a>    |   
<a routerLink="todomanager">To Do Manager</a>   |   
<a routerLink="guessnumbergame">Guess Number Game</a>   |   
</p>
<router-outlet></router-outlet>
