<p>
<a routerLink="">Display Hello World</a>  | 
<a routerLink="showhellobutton">Show Hello Button</a> | 
<a routerLink="displayname">Display Name</a>  | 
<a routerLink="counter">Counter</a> | 
<a routerLink="simpleform">Simple Form</a>  | 
<a routerLink="userage">User Age</a>  | 
<a routerLink="usergreeting">User Greeting</a>  | 
<a routerLink="calculator">Calculator</a> | 
<a routerLink="textlength">Text Length</a>  | 
<a routerLink="currencyconverter">Currency Converter</a>  | 
<a routerLink="evenoddchecker">Even Odd Checker</a> | 
<a routerLink="wordreverser">Word Reverser</a>  | 
<a routerLink="showdate">Show Date</a>  | 
<a routerLink="showusername">Show Username</a>  |   
<a routerLink="multiplicationtable">Multiplication Table</a>    |   
<a routerLink="simplelogin">Simple Login</a>    |   
<a routerLink="fahrenheittocelsius">Fahrenheit To Celsius</a>   |   
<a routerLink="bookmarklist">Bookmark List</a>  |   
<a routerLink="charactercounter">Character Counter</a>  |   
<a routerLink="palindromechecker">Palindrome Checker</a>   |   
<a routerLink="temperatureconverter">Temperature Converter</a>  |   
<a routerLink="shoppinglist">Shopping List</a>  |   
<a routerLink="factorialcalculator">Factorial Calculator</a>    |   
<a routerLink="todomanager">To Do Manager</a>   |   
<a routerLink="guessnumbergame">Guess Number Game</a>   |   
<a routerLink="wordcounter">Word Counter</a>    |   
<a routerLink="randomnumbergenerator">Random Number Generator</a>   |   
<a routerLink="multiplicationchecker">Multiplication Checker</a>    |   
<a routerLink="uppercaseconverter">Uppercase Converter</a>  |   
<a routerLink="wordshuffler">Word Shuffler</a>  |   
<a routerLink="bmisolver">BMI Solver</a>    |   
<a routerLink="usernamevalidator">Username Validator</a>    |   
<a routerLink="interestcalculator">Interest Calculator</a>  |   
<a routerLink="compoundinterestcalculator">Compound Interest Calculator</a> |   
<a routerLink="fibonaccigenerator">Fibonacci Generator</a>  |   
<a routerLink="oddsumcalculator">Odd Sum Calculator</a> |   
<a routerLink="currencyformatter">Currency Formatter</a>    |   
<a routerLink="randomquotedisplay">Random Quote Display</a> |   
<a routerLink="uppercasegreeting">Uppercase Greeting Component</a>  |   
<a routerLink="divisiblechecker">divisiblechecker</a>   |   
<a routerLink="stopwatch">stopwatch</a> |   
<a routerLink="countdowntimer">Countdown Timer</a>  |   
<a routerLink="passwordstrengthchecker">Password Strength Checker</a>   |   
<a routerLink="unitconverter">Unit Converter</a>    |   
<a routerLink="simplevoting">Simple Voting</a>  |   

</p>
<router-outlet></router-outlet>
